/**
 * @name Skull Dragon Theme
 * @author Yorzaren
 * @version 1.0
 * @description Black dragon breathing purple fire on a skull. A purple theme.
 * @source https://github.com/Yorzaren/BetterDiscord/blob/main/themes/Dragon.theme.css
 */

/* Relies on the transparency css */
@import url('https://raw.githack.com/Yorzaren/BetterDiscord/main/themes/TransparentBase.theme.css');

:root {
	/* ------ Theme Colors ------ */
	/* Background is not my creation, you can get it from: https://wall.alphacoders.com/big.php?i=441584 */

	--background: url('https://images7.alphacoders.com/441/441584.jpg'); /* ------ Customize ------ */

	--theme-primary-accent:#b962f9;	 /* ------ Customize ------ */
	--theme-secondary-accent:#642e8d; /* ------ Customize ------ */
	--theme-tertiary-accent:#311b4d; /* ------ Customize ------ */

	--theme-darkest-color: #000;
	--theme-dark-color: #191919;
	--theme-lightest-color: #fff;
	--theme-light-color: #f0f0f0;
	--theme-inactive-color: #999;
	--theme-transparent: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5)); /* Can also be changed to just "transparent" */
	
}
