/**
 * @name Transparency Base
 * @author Yorzaren
 * @version 1.0
 * @description Not intended to be used alone. You can add a background image for best results.
 * @source https://github.com/Yorzaren/BetterDiscord/blob/main/themes/
 */
:root {
	
	/* ------ Theme Colors ------ */
	
	/* ---- Customize Per theme ---- */
	
	/* 
	--background: url('https://img.wallpapersafari.com/desktop/1920/1080/95/89/wdZHQO.jpg');
	--theme-primary-accent:#ec750e;
	--theme-secondary-accent:#fffe42;
	--theme-tertiary-accent:#572708;
	*/
	
	/* ---- Override these as you wish ---- */
	--theme-darkest-color: #000;
	--theme-dark-color: #191919;
	--theme-lightest-color: #fff;
	--theme-light-color: #f0f0f0;
	--theme-inactive-color: #999;
	--theme-transparent: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5)); /* Can also be changed to just "transparent" */
	
	/* ------  Override Discord's default root vars ------	*/
	--activetext-colour: var(--theme-lightest-color);
	--header-secondary: var(--theme-lightest-color);
	--channels-default: var(--theme-lightest-color);
	--channel-icon: var(--theme-light-color);
	--interactive-normal: var(--theme-light-color);
	--interactive-muted: var(--theme-inactive-color);
	/* Chat box */
	--channeltextarea-background:var(--theme-transparent);
	--text-normal: var(--theme-lightest-color);
	/* Quick and Dirty */
	/* Color Maps to the Main Channels, and the server buttons on the left rail */
	--background-primary: var(--theme-transparent);
	/* Channel, Who is Online side rails, as well as the embed, code pres, server folders */
	--background-secondary: var(--theme-transparent);
	--background-tertiary: var(--theme-transparent);
	--background-secondary-alt: var(--theme-transparent);
	--background-modifier-selected: var(--theme-tertiary-accent);
	--background-modifier-accent: var(--theme-primary-accent);
	--text-muted: var(--theme-primary-accent);
	--brand-experiment-500: var(--theme-primary-accent);
	--brand-experiment: var(--theme-primary-accent);
	--text-link: var(--theme-secondary-accent);
	--background-mentioned-hover: var(--theme-secondary-accent); /* if the colors on accents are v different override this */
	--info-warning-foreground: var(--theme-primary-accent);

}

#app-mount,#app-mount .container-16j22k {
	background: var(--background);
	background-position: center; 
	background-size: cover; 
}

/* Somethings are just stubborn */

/* Friends Page Bar */
.container-ZMc96U.themed-Hp1KC_ {
	background: var(--theme-transparent);
}
.divider-q3P9HC {
	background: var(--theme-primary-accent);
}
.topPill-3DJJNV {
	color: var(--theme-lightest-color);
}
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
	color: var(--theme-lightest-color);
}
.theme-dark .children-3xh0VB:after {
    background: none;
}

/* Server discover */
.theme-dark .pageWrapper-2PwDoS {
	background: var(--theme-transparent);
}

/* Nitro Store page */
.applicationStore-2nk7Lo {
	background: var(--theme-transparent);
}

/* VC / Call Page */
.callContainer-HtHELf {
	background: var(--theme-transparent);
}

/* Inter message Channel links */
.theme-dark .wrapper-1ZcZW- {
	color:var(--theme-lightest-color);
	background:var(--theme-primary-accent);
}

/* Channel Hover */
.wrapper-NhbLHG:hover .content-1gYQeQ {
	background: var(--theme-primary-accent);
	opacity: 0.8;
}

/* Fix hijacking the things has interesting effects */
.floating-window.resizable, .contentWrapper-3vHNP2, .itemFilled-1cPbtg, .authedApp-8q3NA9, .theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98, .loadingWrapperInner-3CbkJc {
	background:var(--theme-darkest-color);
}


/* So edit message box isnt hard to see */
.contents-2MsGLg .inner-NQg18Y {
	background: var(--theme-dark-color);
}

.operations-3q3u6E a {
	font-weight: bold;
	text-shadow: 1px 1px 2px;
}
/* Main search bar, Emoji search bar */ 
.searchBar-jGtisZ, .searchBar-2M9mRP .inner-1NoIT5, .inner-1NoIT5, .container-2oNtJn, .theme-dark .headerClickable-zGQJz3, .theme-dark .headerDefault-1e6yjj, .theme-dark .headerExpanded-1-zwDr {
	background:var(--theme-dark-color);
}

.embedFull-1HGV2S {	  
	background:var(--theme-dark-color);
}
.markup-eYLPri code, .textContainer-36wgKK {
	background:var(--theme-dark-color);
	opacity: .8;
}
.footer-GXWBBp, .theme-dark .changeDetails-1kMZqI {
	background:var(--theme-darkest-color);

}

/* Tooltip */
.layerContainer-2v_Sit .layer-2aCOJ3 {
	background:var(--theme-dark-color);
}
.positionLayer-1cndvf.layer-2aCOJ3 {
	background:transparent;
}

/* Chat Buttons */
.wrapper-2vIMkT {
	background:var(--theme-dark-color);
}

/* React */
.reaction-3vwAF2 {
	background:var(--theme-dark-color);
}

/* You reacted */
.reaction-3vwAF2.reactionMe-1PwQAc {
	background:var(--theme-primary-accent);
	border-color:var(--theme-secondary-accent);
}

/* User profile role button color */
.role-2TIOKu {
	background:var(--theme-darkest-color);
}

/* Chat box unfocused */
.placeholder-1rCBhr {
	color:var(--channel-icon);
}

/* Usernames */
.username-h_Y3Us, .name-3Vmqxm {
	text-shadow: 1px 1px 2px var(--theme-primary-accent);
}
/* Main text */
.markup-eYLPri {
	text-shadow:1px 1px 2px var(--theme-primary-accent);
}
/* Mentioned */
.mentioned-Tre-dv {
	background:var(--theme-tertiary-accent);
}

/* Scroll Bar */
#app-mount ::-webkit-scrollbar-thumb {
	background-color: var(--theme-primary-accent);
}


/* Unread */
.isUnread-3Lojb- {
	border-color:var(--theme-secondary-accent);
	--divider-color:var(--theme-secondary-accent);
}
.isUnread-3Lojb- .content-3spvdd, .newMessagesBar-1hF-9G .barButtonBase-Sk2mdB {
	background:var(--theme-secondary-accent);
	color:var(--theme-darkest-color);
}
.unreadPill-3nEWYM {
	color:var(--theme-darkest-color);
}

.bd-unread span {
	background:var(--theme-primary-accent);
}

.bd-selected span {
	background: var(--theme-primary-accent);
}

/* Channel Unread */
 .modeUnread-3Cxepe .name-28HaxV {
	color:var(--theme-primary-accent);
	text-shadow: 1px 1px 2px var(--theme-primary-accent);
}
.unreadRelevant-2f-VSK {
	background-color:var(--theme-primary-accent);
}
.modeUnread-3Cxepe .icon-2W8DHg {
	color:var(--theme-primary-accent);
}

/* Date Divider */
.content-3spvdd {
	background-color:var(--theme-primary-accent);
	color: var(--theme-lightest-color);
}

/* Reply */
.repliedMessage-3Z6XBG:before {
	border-color: var(--theme-primary-accent);
}


.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	background:var(--theme-primary-accent);
}


/* BetterDiscord Related. */
div.bd-toast {
	background: var(--theme-darkest-color);
}

.bd-addon-list .bd-addon-card {
	background: var(--theme-dark-color);

}
